<h1>Listing videos</h1>

<table class="listing">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Play</th>
    <th>Destroy</th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%=link_to video.name,download_video_path(video) %></td>
    <td><%=video.description %></td>
    <td><%=link_to video.name,video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
