<div class="add-asset">
  <div class="grid_12" id="search_form">
    <%= form_tag(videos_path(),:method=>:get) do %>
     <strong> Search : </strong><%= text_field_tag :search %>
      <%= submit_tag "Search"%>
    <% end %>
  </div>
  <div class="grid_4">
    <%= link_to 'Add Asset', new_video_path,:class=>"button" %>
  </div>
  <%= clearing_span %>

  <div class="add-asset" style="float:right"><%= will_paginate @videos %></div>
</div>

<hr class="separator" />
<% @videos.each do |video| %>
  <div class="asset">
    <div class="asset-title"><strong><%= video.name %></strong> : <%= video.asset_file_name %></div>
    <div class="asset-description"><%= video.description %>

    </div>
    <p class="download-link">Download :<%=link_to video.asset_file_name,download_video_path(video) %></p>
  </div>
  <hr class="separator" />
<% end %>


